body {
    background-image: url('https://img.freepik.com/free-photo/dark-grunge-style-scratched-metal-surface_1048-12951.jpg?size=626&ext=jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    flex: 1;
    margin-right: 20px;
}

h2 {
    margin-top: 0;
    text-
    text
}

body, h1, h2, p, a {
    color: white;
    font-family: "Arial", sans-serif;
    text
}

.top-right-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px; /* Optional: Add padding for spacing */
}

/* Style the links */
.top-right-menu a {
    color: white;
    text-decoration: none; /* Optional: Remove underline from links */
}

/* Style the links on hover */
.top-right-menu a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}